<form action="{{ path('cu_labs_bug_catch_form', {'paramGet': 'p1'}) }}" method="post" enctype="multipart/form-data">
    <input type="text" name="paramPost" id="">
    <input type="file" name="file">
    <button type="submit">Send</button>
</form>
